<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <h1>
        <%= htmlWebpackPlugin.options.myPageHeader %>
      </h1>
    </div>
    <div id="app"></div>
  </div>

  <script>  window.globalVAr = 3; </script>
</body>

</html>